<h4><%= @reservations.count %> reservations</h4>

<%= simple_form_for [@listing, @reservation] do |f| %>
  <%= f.input :num_reservations, :input_html => { :value => 1 } %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
<% end %>

<input type="submit" class="btn btn-info mt-2" value="Submit" form="new_reservation">