<!-- remove cache and corresponding end tag to disable russian doll caching-->
  <form class="mb-4" action="/search">
    <input class="form-control" type="text" name="query" placeholder="Search" aria-label="Search">
  </form>
  <div class="card-deck">
    <% @listings.each do |listing| %>
      <%= link_to listing do %>
      <!-- remove cache and corresponding end tag to disable fragment caching-->
          <%= render "listing_card", listing: listing %>
      <% end %>
    <% end %>
  </div>

