<!-- remove cache and corresponding end tag to disable russian doll caching-->
<% cache(cache_key_for_listing) do %>
  <form class="mb-4" action="/search">
    <input class="form-control" type="text" name="query" placeholder="Search" aria-label="Search">
  </form>
  <div class="card-deck">
    <% @listings.each do |listing| %>
      <%= link_to listing do %>
      <!-- remove cache and corresponding end tag to disable fragment caching-->
        <% cache(cache_key_for_listing_card(listing)) do %>
          <%= render "listing_card", listing: listing %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @listings, 
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    previous_label: "Previous", next_label: "Next", 
    inner_window: 1, outer_window: 1 
%>

