<form class="mb-4" action="/search">
  <input class="form-control" type="text" name="query" placeholder="Search" aria-label="Search">
</form>
<div class="card-deck">
  <% @listings.each do |listing| %>
    <%= link_to listing do %>
      <% cache(cache_key_for_listing_card(listing)) do %>
        <%= render "listing_card", listing: listing %>
      <% end %>
    <% end %>
  <% end %>
</div>