/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .card{
        min-width: 238px;
        max-width: 238px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .card{
        min-width: 330px;
        max-width: 330px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .card{
        min-width: 288px;
        max-width: 288px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}

.reservations{
    color: #788699;
    font-size: 12px;
}

.card-title{
    color: black;
}

.card-price{
    font-weight: lighter;
    margin: 0;
}

.card-title:hover{
    text-decoration: none;
}

/* comments , https://www.bootdey.com/snippets/view/Simple-Comment-panel */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list {
    padding: 0px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}