html, body{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://external-preview.redd.it/Nnji-fx-5eInNeC0bPg7U947QOhiDTgNi2QOqz4VMfc.jpg?auto=webp&s=5fdb4089d045d4eb6b1a803f6c45bccf6bf96f11") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.5);
}

.home-nav{
    background: none;
}

.navbar-brand{
    color: #F7F7F7 !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .card{
        min-width: 238px;
        max-width: 238px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .card{
        min-width: 330px;
        max-width: 330px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .card{
        min-width: 288px;
        max-width: 288px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card{
        min-width: 348px;
        max-width: 348px;
    }
}

hr{
    border-top: 1px solid rgba(255,255,255, 0.5);
}

.card { background-color: rgba(0, 0, 0, 0.4); }

.card-header, .card-footer { opacity: 1}

.card:hover{
    box-shadow: 0 2px 10px #FFE800;
}

.card-img-top {
    height: 72px;
}

.card-img-overlay {
    color: white;
    padding: 0px;
}

.card-overlay-text {
    width: 100%;
    background-color: black;
    padding: 0px 1.25rem;
}

.card-location {
    font-size: 18px;
}

.card-price {
    font-size: 32px;
}

.card-body {
    color: lightgray;
    padding-top: 8px;
    padding-bottom: 0px;
}

.card-body-title {
    margin-bottom: 8px;
}

.card-description {
    height: 100px;
    font-size: 14px;
    overflow: hidden;
}

.user-info{
    color: white;
}

.profile-gravatar-img {
    width: 100px;
    height: 100px;
}

.card-reservations{
    color: #788699;
    font-size: 12px;
}

.card-title{
    color: black;
    display: inline-block;
}

.card-price{
    font-weight: lighter;
    margin: 0;
}

.card-title:hover{
    text-decoration: none;
}

/* comments , https://www.bootdey.com/snippets/view/Simple-Comment-panel */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list {
    padding: 0px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:1px solid #ffffff;
}

.comment-wrapper .media-list .media {
    margin-bottom:25px;
}





.reservation-gravatar-img {
    width: 48px;
    height: 48px;
}

.listing-ratings .gravatar-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.listing-card-gravatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}