/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

html, body{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/assets/UCLA.png') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.7);
}

.home-nav{
    background: none;
}

.navbar-brand{
    color: #F7F7F7 !important;
}


hr{
    border-top: 1px solid rgba(255,255,255, 0.5);
}



.card { background-color: rgba(16, 16, 16, 0.8); }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .listing-card{
        min-width: 238px;
        max-width: 238px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .listing-card{
        min-width: 330px;
        max-width: 330px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .listing-card{
        min-width: 288px;
        max-width: 288px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .listing-card{
        min-width: 348px;
        max-width: 348px;
    }
}

.listing-card {
    border-color: rgba(255,255,0,0.3) !important;
}

.listing-card:hover{
    box-shadow: 0 2px 10px #FFE800;
}

.card-img-top {
    height: 72px;
}

.card-img-overlay {
    padding: 0px;
}

.card-overlay-text {
    width: 100%;
    height: 72px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 60%);
    color: white;
    padding: 0px 1.25rem;
    position:relative;
    overflow:auto;
    vertical-align: text-bottom;
}

.listing-card-location {
    font-size: 18px;
    text-align:left; bottom:8px; position:absolute; left: 1.25rem
}

.listing-card-price {
    font-size: 32px;
    float:right; text-align:right; bottom: 4px; position:absolute; right: 1.25rem
}

.listing-card-body {
    color: lightgray;
    padding-top: 8px;
    padding-bottom: 0px;
}

.listing-card-body-title {
    margin-bottom: 8px;
}

.listing-card-description {
    height: 100px;
    font-size: 14px;
    overflow: hidden;
}





.reservation-card {
    
}

.reservation-card:hover{
    box-shadow: 0px;
}




.user-info{
    color: white;
}

.profile-gravatar-img {
    width: 100px;
    height: 100px;
}

.card-reservations{
    color: #788699;
    font-size: 12px;
}

.card-title{
    color: black;
    display: inline-block;
}

.card-price{
    font-weight: lighter;
    margin: 0;
}

.card-title:hover{
    text-decoration: none;
}

/* comments , https://www.bootdey.com/snippets/view/Simple-Comment-panel */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list {
    padding: 0px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:1px solid #ffffff;
}

.comment-wrapper .media-list .media {
    margin-bottom:25px;
}




.reservation-card {
    border-radius: 0px;
}
.reservation-gravatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.reservation-gravatar-toggle {
    padding: 0px;
}










.listing-ratings .gravatar-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.listing-card-gravatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}